:root {
	--container-bg-color: #ffffff;
	--left-bg-color: #ffffff;
	--left-button1-color: #006060;
	--left-button1-hover-color: #091832;
	--right-bg-color: #005a9b;
	--right-legend-bg-color: #000;
	--right-button2-hover-color: #0095c2;
	--other-width: 25%;
	--speed: 1000ms;
	--background-color: #ffffff;
	--search-bg-color: #242628;
	--icon-color: #00FEDE;
	* {
		box-sizing: border-box;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--container-bg-color);
}


/*Form*/

form {
	color: white;
	font-family: Georgia, serif;
	font-size: 25px;
	position: relative;
	top: 13%;
	white-space: nowrap;
}


/* Form field attributes */

input[type=text],
select {
	width: 60%;
	padding: 10px 20px;
	margin: 10px 0;
	display: inline-block;
	border: 3px solid #555;
	border-radius: 4px;
	box-sizing: border-box;
}

label {
	padding-left: 30px;
}


/*Radio button styling*/

input[type="radio"] {
	/* remove standard background appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* create custom radiobutton appearance */
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: -8px;
	padding: 4px;
	/* background-color only for content */
	background-clip: content-box;
	border: 1px solid #bbbbbb;
	background-color: #e7e6e7;
	border-radius: 50%;
}


/* appearance for checked radiobutton */

input[type="radio"]:checked {
	background-color: gold;
}


/* Centering radiobuttons */

.flex {
	display: flex;
	align-items: center;
}

input[type=radio]:checked+label {
	background-color: var(--right-button2-hover-color);
	color: white;
}

input[type=radio]+label {
	padding: 0px;
}

label {
	background-color: var(--right-bg-color);
}


/*Submit button*/

input[type=submit] {
	font-family: Georgia, serif;
	font-size: 30px;
	position: relative;
	width: 30%;
	background-color: #000;
	color: #fff;
	padding: 3px 3px;
}

input[type=submit]:hover {
	background-color: var(--right-button2-hover-color);
}


/*Reset button*/

input[type=reset] {
	font-family: Georgia, serif;
	font-size: 30px;
	position: relative;
	width: 30%;
	background-color: #000;
	color: #fff;
	padding: 3px 3px;
}

input[type=reset]:hover {
	background-color: var(--right-button2-hover-color);
}


/*Legend in fieldset*/

legend {
	background-color: var(--right-legend-bg-color);
	color: #fff;
	padding: 1px 3px;
}

fieldset {
	border-color: gold;
}

.output {
	font-family: Georgia, serif;
}

input {
	margin-top: 20px;
	margin-left: 25px;
}


/* Headers */

h1 {
	font-size: 5rem;
	color: #000000;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	white-space: nowrap;
}

h2 {
	font-size: 2.5rem;
	color: #ffffff;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	white-space: nowrap;
}

h3 {
	font-size: 2rem;
	color: #000000;
	position: absolute;
	left: 3%;
	top: 20%;
}

h4 {
	font-size: 2rem;
	color: black;
	background-color: #FFF720;
	position: absolute;
	left: 3%;
	top: 20%;
}


/* Paragraph */

p {
	color: #333333;
	font-family: Georgia, serif;
	font-size: 23px;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
}

p2 {
	color: white;
	font-family: Georgia, serif;
	font-size: 25px;
	position: absolute;
	left: 15%;
	top: 30%;
	white-space: nowrap;
}

p3 {
	color: #000000;
	font-family: Georgia, serif;
	font-size: 18px;
	position: absolute;
	left: 3%;
	top: 40%;
}

p4 {
	position: absolute;
	left: 3%;
	top: 60%;
}


/* Navigation menu */

.navbar {
	overflow: hidden;
	background-color: #013366;
	font-family: Brushstroke;
	font-weight: bold;
	font-size: 25px;
}


/* Navigation links */

.navbar a {
	float: left;
	color: #fff;
	font-family: Brushstroke;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}


/* Add a green background color to navigation links on hover */

.navbar a:hover {
	background-color: #091832;
	color: white;
}


/* Button on left side of page */

button {
	display: block;
  	position: fixed;
  	bottom: 20px;
    	right: -75px; 
  	height: 2.5rem;
  	padding-top: .5rem;
  	width: 10rem;
  	text-align: center;
  	color: white;
  	border: solid 0.2rem;
  	background-color: var(--left-button1-color); 
  	border: 2px solid #000;
  	font-size: 1rem;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-decoration: none;
  	transform: translateX(-50%);
	
}
.button {
	background-color: var(--left-button1-color);
	/* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	display: block;
	position: absolute;
	left: 49%;
	top: 60%;
	height: 2.5rem;
	padding-top: .5rem;
	width: 15rem;
	text-align: center;
	color: white;
	border: solid 0.2rem;
	background-color: var(--left-button1-color);
	border: 2px solid #000;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transform: translateX(-50%);
}

.button1:hover {
	background-color: var(--left-button1-hover-color);
	color: white;
}

.button2 {
  	display: block;
  	position: fixed;
  	bottom: 0px;
    	right: -75px; 
  	height: 2.5rem;
  	padding-top: .5rem;
  	width: 10rem;
  	text-align: center;
  	color: white;
  	border: solid 0.2rem;
  	background-color: var(--left-button1-color); 
  	border: 2px solid #000;
  	font-size: 1rem;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-decoration: none;
  	transform: translateX(-50%);
}

.button2:hover {
  	background-color: var(--left-button1-hover-color);
  	color: white;
}
.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.split.left {
	left: 0;
	background-size: cover;
}

.split.left:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}

.split.right {
	right: 0;
	background-size: cover;
}

.split.right:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--right-bg-color);
}


/* NUTRITIONAL FACTS LABEL FOR NUTRIENTS.HTML RESULTS PAGE */

#nutritionfacts {
	background-color: white;
	border: 5px solid black;
	padding: 5px;
	width: 500px;
	margin-left: 300px;
	margin-top: 100px;
}


/* label content of left side directly affecting right */

#nutritionfacts td {
	color: black;
	font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
	font-size: 16pt;
	padding-top: 6px;
	top: 200px;
}


/* "Nutrition Facts Heading" */

#nutritionfacts td.header {
	font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
	font-size: 50px;
	white-space: nowrap;
}


/* "Right side of label" */

#nutritionfacts div.label {
	float: left;
	font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}

#nutritionfacts div.weight {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 2px;
}

#nutritionfacts div.dv {
	display: inline;
	float: right;
	font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}

#nutritionfacts div.line {
	border-top: 2px solid black;
}

#nutritionfacts div.labellight {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

/* INGREDIENT RESULTS PAGE QUERY TABLE */
#ingredienttable {
     border: 5px solid black;
     padding: 10px;
     width: 1000px;
     margin-left: 200px;
     margin-top: 75px;
     font-size: 25px;
}
