h2{
  color: black;
  margin-top: 50px;
}
body{
  background: #fcf7e1;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0px;
}

.body2{
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content:flex-end;
  align-items:center;
  height: 100vh;
}
a{
  color: white;
}
.box-1{
  background-color: #gray;
  border:5px green solid;
  border-style: dotted;
  padding: 20px;
}

.social-btns a{
  display: inline-flex;
  text-decoration: none;
  font-size: 35px;
  height: 60px;
  width: 60px;
  justify-content: center;
  position: relative;
  margin: 0 8px;
  color: #fff;
  align-items: center;
  top: 1000px;
}
.social-btns a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}
.social-btns a:hover::before{
  transform: scale(0);
}
.social-btns a i{
  transition: 0.3s ease-in;
}
.social-btns a:hover i{
  background: linear-gradient(45deg, #22a6b3, #30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
.container
{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#main-header{
  color:#fff;
  padding: 10px;
  border-radius: 50%;
}

#sub-header{
  color:#fff;
  padding: 10px;
  background-image: url("work.png");
}
#navbar {
  background-color: : gray;
  color: #fff
}

#navbar ul{
  padding:0;
  list-style: none;
  margin = 0;
  overflow: hidden;

}
#navbar li{
  display: :left

}
#navbar a{
  color: white;
  text-decoration: none;
  font-size: 28px;
  padding-right: 15px;
}
#showcase{
  background-image:url('logo2.png');
  padding-bottom: 18px;
}
/* .search-box{
  position:absolute;
  top: 46%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  background: white;
  width: 500px;
}

.search-boxY{
  position:absolute;
  top: 5%;
  right:0%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  background: #2f3640;
}
.search-btn{
  color: red;
  float:right;
  width:40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-btn1{
  color: #1e3799;
  float:right;
  width:40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
}
.search-txt2{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;
} */

.body3{
  margin: 0;
  padding: 0;
  background: white;
}

/*MISSION STATEMENT
*/
.body4 {
  color: green;
  padding: 0em;
  text-align: center;
}

.body5 {
  color: black;
  font-size: 36px;
  padding: 0em;
  text-align: center;
  position: absolute;
	top: 1150px;
	left: 490px;

}
.body6 {
  color: black;
  font-size: 24px;
  padding: 0em;
  text-align: left;
  position: absolute;
	top: 1220px;
	left: 10px;

}
.bar{
  width: 6px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  display: inline-block;
  transform-origin: bottom center;
  animation: loading 1.5s ease-in-out infinite;
}
.middle{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}
.bar1{
  animation-delay: 0.1s;
}
.bar2{
  animation-delay: 0.2s;
}
.bar3{
  animation-delay: 0.3s;
}
.bar4{
  animation-delay: 0.4s;
}
.bar5{
  animation-delay: 0.1s;
}
.bar6{
  animation-delay: 0.3s;
}
.bar7{
  animation-delay: 0.1s;
}
.bar8{
  animation-delay: 0.5s;
}
.bar9{
  animation-delay: 0.3s;
}
.bar10{
  animation-delay: 0.1s;
}

@keyframes loading{
  0%{
    transform: scaleY(0.1);
    background: #7ed6df;
  }
  45%{
    transform: scaleY(1);
    background: #7ed6df;
  }
  75%{
    transform: scaleY(0.8);
    background: #7ed6df;
  }
  100%{
    transform: scaleY(0.1);
    background: transparent;
  }
}

/*Navigation bar color
*/
.dropbtn {
  background-color: #fabe6b;
  color: black;
  padding: 16px;
  font-size: 18px;
  border:none;
  margin-top: -102px;
  margin-right: 0;
  position: relative;
  transition: 0.4s ease;
  top: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:relative;
  display:inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0984e3;
  min-width: 160px;
  box-shadow: black;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#7ed6df ;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #7ed6df;}
p{
color: black;
top: 60px;
}
li{
  color: black;
}
a{
  color: black;
}


#nutritionfacts {
  background-color: white;
  border: 5px solid black;
  padding: 5px;
  width: 425px;
  margin-left: 400px;
  margin-top: 50px;
}

/* label content of left side directly affecting right */
#nutritionfacts td {
  color: black;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
  font-size: 16pt;
  padding-top: 6px;
  top: 200px;
}

/* "Nutrition Facts Heading" */
#nutritionfacts td.header {
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
  font-size: 50px;
  white-space: nowrap;
}

/* "Right side of label" */
#nutritionfacts div.label {
  float: left;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}

/* "Per serving size" */
#nutritionfacts div.serving {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  text-align: center;
}

#nutritionfacts div.weight {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2px;
}

#nutritionfacts div.dv {
  display: inline;
  float: right;
  font-family: 'Arial Black', 'Helvetica Bold', sans-serif;
}

#nutritionfacts table.vitamins td {
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  width: 66%;
}

#nutritionfacts div.line {
  border-top: 2px solid black;
}

#nutritionfacts div.labellight {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

#nutritionfacts .highlighted {
  padding: 3px;
}

/* .myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
padding: 0em;
border: 5px solid #ccc;
border-radius: 3px;
margin-top: 0px;
background: #fad4d4;

}

.myForm * {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
box-sizing: border-box;
text-align:center;
}

.myForm label {
font-size: 1.2em;
}


.myForm input {
border: 1px solid #ccc;
border-radius: 3px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 1.5em;
}


.myForm button {
padding: 1.7em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin-left: 0.9em;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
} */


</style>
