<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrek</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container"> 
  <!-- Navigation -->
  <header> 
    <h4 class="logo"> 
	    <a href="http://perlman.mathcs.carleton.edu:5219">
		<img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
		</a>
	  </h4>
	       
    <nav>
     <ul>
        <li><a href="http://perlman.mathcs.carleton.edu:5219">HOME</a></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5219/data">ABOUT OUR DATA</a></li>
      </ul>
      <form class="search-boxY" action="/search" method="POST">
        <input type="search" name="foodsearch" placeholder="Search for a food...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
  </header>
  <!-- Search Section -->
  <section class="sect3" id="sect3">
    <span class="background-image" role="img" aria-label="banner image of food"> </span>
	  <h6>About Our Data</h6>
	  <p1>Nutrek generates all its reports based on the United States Department of Agriculture's (USDA) Branded Food Products Database (BFPD).</p1>
  </section>

<!-- About -->
  <section class="about" id="about">
    <h2 class="hidden">About Data</h2>
	  <p class="text_column"><a href="https://data.nal.usda.gov/dataset/usda-branded-food-products-database/resource/c929dc84-1516-4ac7-bbb8-c0c191ca8cec" class="button">USDA Branded Food Product Database</a><br>
		 Data Source: According to the USDA, their database was created by a Public-Private Partnership aiming
	      to “enhance public health” and “sharing of open data” of branded foods and private 
	      label data. The database includes branded products listed by Nutrient Database Number
	      (NDB) and each product's corresponding nutritional values, serving size information,
	      and ingredients list. The database is frequently updated when new information is received
	      and processed. Data used in the BFPD download file is current as of July 13, 2018.
        	<strong>Date Downloaded:</strong> 10/08/19<br>
        	<strong>Publisher:</strong> USDA Agricultural Research Services<br>
        	<strong>Authors:</strong> Pehrsson, Pamela R.,Haytowitz, David B., McKillop, Kyle A., Moore, G., Finley, John W.,Fukagawa, Naomi K.<br>
		  <strong>Time period, geography, and/or scope covered:</strong><br>
        	United States of America<br>
	  
	  </p>
		<p class="text_column"><a href="https://data.nal.usda.gov/dataset/usda-branded-food-products-database/resource/c929dc84-1516-4ac7-bbb8-c0c191ca8cec" class="button">Overview of Dataset</a><br>
       		 USDA Branded Food Products Database - ASCII csv file, 07/13/2018,
        	BFPD_csv_07132018.zip,
       		BFD_Doc.pdf,
        	Serving_size.csv,
        	Serving size file,
        	Products.csv,
        	Products file,
        	Nutrients.csv,
        	Nutrients file,
        	Derivation_Code_Description.csv,
        	Derivations Code Description file.
	  
	  </p>	
		<p class="text_column"><a href="https://data.nal.usda.gov/dataset/usda-branded-food-products-database/resource/c929dc84-1516-4ac7-bbb8-c0c191ca8cec" class="button">Technical Documentation</a><br>
			<strong>Data formats:</strong> .zip containing .csv files<br />
        <strong>Terms of Use:</strong> Data set intended for public use (USDA.gov)<br />

       <strong> Suggested Citation:</strong><br />
        (original article) Kretser, A., Murphy, D., & Starke-Reed, P. (2017). A partnership for public health: USDA branded food products database. Journal of Food Composition and Analysis, 64, 10-12. https://doi.org/10.1016/j.jfca.2017.07.019<br />
        (dataset) Pehrsson, Pamela R.; Haytowitz, David B.; McKillop, Kyle A.; Moore, G.; Finley, John W.; Fukagawa, Naomi K. (2018) USDA Branded Food Products Database . USDA Agricultural Research Service https://data.nal.usda.gov/dataset/usda-branded-food-products-database<br />
        <br />
	  
	  </p>  
	  	</section>

	    <section class="about" id="about">

	  <p class="text_column">
			<strong>Data formats:</strong> .zip containing .csv files<br />
        <strong>Terms of Use:</strong> Data set intended for public use (USDA.gov)<br />

       <strong> Suggested Citation:</strong><br />
        (original article) Kretser, A., Murphy, D., & Starke-Reed, P. (2017). A partnership for public health: USDA branded food products database. Journal of Food Composition and Analysis, 64, 10-12. https://doi.org/10.1016/j.jfca.2017.07.019<br />
        (dataset) Pehrsson, Pamela R.; Haytowitz, David B.; McKillop, Kyle A.; Moore, G.; Finley, John W.; Fukagawa, Naomi K. (2018) USDA Branded Food Products Database . USDA Agricultural Research Service https://data.nal.usda.gov/dataset/usda-branded-food-products-database<br />
        <br />
	  
	  </p>  
	  <p class="text_column">
			<strong>Data formats:</strong> .zip containing .csv files<br />
        <strong>Terms of Use:</strong> Data set intended for public use (USDA.gov)<br />

       <strong> Suggested Citation:</strong><br />
        (original article) Kretser, A., Murphy, D., & Starke-Reed, P. (2017). A partnership for public health: USDA branded food products database. Journal of Food Composition and Analysis, 64, 10-12. https://doi.org/10.1016/j.jfca.2017.07.019<br />
        (dataset) Pehrsson, Pamela R.; Haytowitz, David B.; McKillop, Kyle A.; Moore, G.; Finley, John W.; Fukagawa, Naomi K. (2018) USDA Branded Food Products Database . USDA Agricultural Research Service https://data.nal.usda.gov/dataset/usda-branded-food-products-database<br />
        <br />
	  
	  </p>  
	  <p class="text_column">
			<strong>Data formats:</strong> .zip containing .csv files<br />
        <strong>Terms of Use:</strong> Data set intended for public use (USDA.gov)<br />

       <strong> Suggested Citation:</strong><br />
        (original article) Kretser, A., Murphy, D., & Starke-Reed, P. (2017). A partnership for public health: USDA branded food products database. Journal of Food Composition and Analysis, 64, 10-12. https://doi.org/10.1016/j.jfca.2017.07.019<br />
        (dataset) Pehrsson, Pamela R.; Haytowitz, David B.; McKillop, Kyle A.; Moore, G.; Finley, John W.; Fukagawa, Naomi K. (2018) USDA Branded Food Products Database . USDA Agricultural Research Service https://data.nal.usda.gov/dataset/usda-branded-food-products-database<br />
        <br />
	  
	  </p>  
	</section>
	
 
   <!-- Copyrights Section -->
  <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
</div>
<!-- Main Container Ends -->
</body>
</html>
