<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/style1.css">

<body>
    <div class="container">
        <a href="http://perlman.mathcs.carleton.edu:5219">
            <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
        </a>

        <!-- Navigation menu -->
        <div class="navbar">
            <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
            <a href="http://perlman.mathcs.carleton.edu:5219/data">About Food Database</a>
        </div>
        {% for key, value in result.items() %}
            {% if loop.index == 1 %}
                <h3>Ingredients in {{ key }}</h3>
            {% else %}
                <div id="ingredienttable">
                <table border=1>
                    <tr>
                        <th>{{ key }} </td>
                    </tr>
                </table>
                </div>
            {% endif %}
        {% endfor %}
        <a href="http://perlman.mathcs.carleton.edu:5219" class="button button2"> Try Another Food </a>
</body>

</html>
