<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrek: Ingredient Results</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
<div class="container"> 
  <!-- Navigation -->
  <header> 
    <h4 class="logo"> 
	    <a href="http://perlman.mathcs.carleton.edu:5219">
		<img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
		</a>
	  </h4>
	       
    <nav>
      <ul>
        <li><a href="http://perlman.mathcs.carleton.edu:5219">HOME</a></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5219/data">ABOUT OUR DATABASE</a></li>
      </ul>
      <form class="search-boxY" action="/search" method="POST">
        <input type="search" name="foodsearch" placeholder="Search..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
  </header>
  <!-- Search Section -->
  <section class="sect1" id="sect1">
      <h2>Ingredients Results</h2> 
     <input type="text" id="myInput2" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
 	  {% for key, value in result.items() %}
	  {% if loop.index == 1 %}
	  <h5>{{ key }} </h5>
	{% else %}
        <table id="myTable">
            <tr class="header">
                <th>{{ key }} </th>
            </tr>
        </table>
	  {% endif %}
	  {% endfor %} 

  </section>
  
  
   <!-- Copyrights Section -->
  <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
</div>
<!-- Main Container Ends -->

</body>
</html>
