<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/style1.css">

<body>
    <div class="container">
        <a href="http://perlman.mathcs.carleton.edu:5219">
            <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
        </a>

        <!-- Navigation menu -->
        <div class="navbar">
            <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
            <a href="http://perlman.mathcs.carleton.edu:5219/data">About Food Database</a>
        </div>
        <table border=1>
            {% for key, value in result.items() %}
            <tr>
                <th> {{ key }} </th>
                
            </tr>
            {% endfor %}
        </table>
</body>

</html>
