<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/static/style1.css">
		<title>Nutrek</title>
	</head>
	<body>
		<div class="container">
			<a href="http://perlman.mathcs.carleton.edu:5219">
			<img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
			</a>
			<!-- Navigation menu -->
			<div class="navbar">
				<a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
				<a href="http://perlman.mathcs.carleton.edu:5219/data">About Our Database</a>
			</div>
			<div class="split left">
				<h1>Nutrek.</h1>
				<p>
					<br>Know what you want to eat.
					<br>
					<br><strong>Nutrients.</strong><br> 
					Get the real nutritional facts.
					<br>
					<br><strong>Ingredients.</strong><br>
					Know what's in your food
					<br>
					<br><strong>Food Allergies</strong><br>
					Does your food contain something you're allergic to?
					<br>
				</p>
			</div>
			<div class="split right">
				<h2>Let's get started.</h2>
				<script type="text/javascript">
				function yesnoCheck() {
    				if (document.getElementById('yesCheck').checked) {
        			document.getElementById('ifYes').style.display = 'block';
    				}
    				else document.getElementById('ifYes').style.display = 'none';
				}
				</script>
				
				<form action="/results" method="POST">
					<fieldset><legend><span data-tooltip="Be specific. E.g. type 'Fried rice' instead of 'rice'" data-tooltip-position="right">1) Enter a food:</span></legend>
						<input style="font-size:25px;" type="text" name="food" id="foodsearchbar" placeholder="e.g. granola or cream cheese" required><br>
					</fieldset>	
					<fieldset><legend>2) Select an option. </legend>
						<input type="radio" onclick="javascript:yesnoCheck();" name="query" value="nutritionfacts" id="noCheck" required><strong> Nutrient Breakdown</strong><br> 
						<input type="radio" onclick="javascript:yesnoCheck();" name="query" value="ingredients" id="noCheck"><strong> Ingredients</strong><br>
						<input type="radio" onclick="javascript:yesnoCheck();" name="query" value="allergy" id="yesCheck"><strong> Food Allergies?</strong><br>
					<div id="ifYes" style="display:none">
					Enter Allergen: <input style="font-size:25px;" type="text" id="yes" type="text" name="allergen" placeholder="e.g. nut or milk">
    				</div>
					</fieldset>
					<fieldset>
					<input type="submit" value="Submit">
					<input type="reset" value="Start Over" onclick="javascript:yesnoCheck();">
				</fieldset>	
				</form>
        
			</div>
		</div>
	</body>
</html>
