<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/style1.css">

<body>
    <div class="container">
        <a href="http://perlman.mathcs.carleton.edu:5219">
            <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
        </a>

        <!-- Navigation menu -->
        <div class="navbar">
            <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
            <a href="http://perlman.mathcs.carleton.edu:5219/data">About Food Database</a>
        </div>
        <h3>Your Nutritional Facts</h3>
        <div id="nutritionfacts">
            <table width="280" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td align="center" class="header">Nutrition Facts</td>
                    </tr>
                    <tr>
                        <div class="line">
                            <div class="label">Calories <div class="weight">230</div>
                         </div>
                    <div style="padding-top: 1px; float: right;" class="labellight">Amount
                    </div>
                  </div>
                    </tr>
                    <tr style="height: 7px">
                        <td bgcolor="#000000"></td>
                    </tr>
                    {% for key, value in result.items() %}
                    <tr>
                        <th> {{ key }} </th>
                        <td> {{value}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <table border=1>
            <tr>
                <th>Nutrient</th>
                <th>Amount Per Serving</th>
            </tr>
            {% for key, value in result.items() %}
            <tr>
                <th> {{ key }} </th>
                <td> {{value}} </td>
            </tr>
            {% endfor %}
        </table>
</body>

</html>
