<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style1.css">
    <title>Nutrek</title>
</head>

<body>
    <div class="container">
        <img width="100" height="100" src="/static/Nutrek.png" alt="Image cannot be found">

        <!-- Navigation menu -->
        <div class="navbar">
            <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
            <a href="Data.html">About Food Database</a>
        </div>
        <!--add search bar-->

        <div class="split left">
            <h1>Nutrek.</h1>
            <p>
                <br>Learn if your food contains something you are allergic to.</br>
                <br>Know the nutritional components of your meal. </br>
                <br>See if you are meeting your nutritional goals.</br>
            </p>
            <a href="Data.html" class="button1"> Our Food Database </a>
        </div>
        <div class="split right">
            <h2>Let's get started.</h2>
            <form action="/results" method="POST">

               <p2>
                   <label for="food">Enter Food: </label>
                   <input type="text" name="food">
                   <br>

                   <input type="radio" name="query" value="nutritionfacts"> Nutrition Breakdown</input>
                   <br>
                   <input type="radio" name="query" value="ingredients"> Ingredients</input>
                   <br>
                   <input type="radio" name="query" value="allergy"> Enter Allergen:</input>
                   <input type="text" name="allergen">
                   <br>
                   <br>
               </p2>
               <p2>
                   <input type="submit" value="Submit">
                   <input type="reset">
               </p2>
           </form>
        </div>
</body>

</html>
