<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta http-equiv = "X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style1.css">
  <title>Nutrek</title>
</head>
<body>
  <div class = "container">
    <img width = "100" height = "100" src="/static/Nutrek.png" alt="Image cannot be found" >

    <!-- The navigation menu -->
  <div class="navbar">
    <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
    <div class="subnav">
      <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="Data.html">About the Food Database</a>
      </div>
    </div>
    <div class="subnav">
      <button class="subnavbtn">Food Allergies <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
        <a href="#nuts">Nuts</a>
        <a href="#eggs">Eggs</a>
        <a href="#kiwi">Kiwi</a>
        <a href="#shellfish">Shellfish </a>
        <a href="#lactose">Lactose Intolerance</a>
      </div>
    </div>
  </div>
  
  </div>

    <div class = "split left">
      <h1>Nutrek.</h1>
      <p><br>Learn if your food contains something you are allergic to.</br> <br>Know the nutritional components of your meal. </br><br>See if you are meeting your nutritional goals.</br> </p>
      <a href = "Data.html" class = "button1"> Our Food Database </a>
    </div>
    <div class = "split right">
      <h2>Let's get started.</h2>
      <form action = "/results" method = "POST">
        <p>
          <label for="food">Enter Food: </label>
          <input type = "text" name = "food"><br><br>
          <input type="radio" name="query" value="nutritionfacts"> Nutrition Breakdown</input><br>
          <input type="radio" name="query" value="ingredients"> Ingredients</input><br>
          <input type="radio" name="query" value="allergy"> Enter Allergen:</input><input type = "text" name = "allergen">
          <br><br></p>
      <p><input type = "submit" value = "Submit" /><input type="reset"></p>
    </form>
</body>
  </div>
</body>
</html>
