<!DOCTYPE html>
<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrek</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container"> 
  <!-- Navigation -->
  <header> 
    <h4 class="logo"> 
	    <a href="http://perlman.mathcs.carleton.edu:5219">
		<img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
		</a>
	  </h4>
	       
    <nav class="fixed-nav-bar">
      <ul>
        <li><a href="http://perlman.mathcs.carleton.edu:5219">HOME</a></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5219/data">ABOUT OUR DATABASE</a></li>
      </ul>
    </nav>
  </header>
  <!-- Search Section -->
  <section class="sect" id="sect">
    <span class="background-image" role="img" aria-label="banner image of food"> </span>
    <form action="/search" id="form1" method="POST">
		<fieldset><h3 class="sect_header">Enter a food</h3>
	<label for="foodSearchBarHome"></label>
      <input style="font-size:25px;" type="search" name="foodsearch" id="foodSearchBarHome" placeholder="e.g. granola or cream cheese" required>
			</fieldset>
		<fieldset><input type="submit" value="Submit"></fieldset>
    </form>
  </section>
  
  <!-- About Site Features -->
  <div class="aboutsite">
    <div class="thumbnail">
      <h3 class="stats">Nutrition</h3>
      <h4>Get the real nutritional facts.</h4>
      <p>Find out what nutrients are in your food, and how much.</p>
    </div>
    <div class="thumbnail">
      <h3 class="stats">Ingredients</h3>
      <h4>Know what's in your meal.</h4>
      <p>See a full list of ingredients that are in a specific food product.</p>
    </div>
    <div class="thumbnail">
      <h3 class="stats">Food Allergies</h3>
      <h4>Avoid food allergens.</h4>
      <p>Got food allegies? Find out if a food has your food allergen.</p>
    </div>
  </div>
  
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong>Nutrek.</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
