<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/style1.css">

<body>
    <div class="container">
        <a href="http://perlman.mathcs.carleton.edu:5219">
            <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
        </a>

        <!-- Navigation menu -->
        <div class="navbar">
            <a href="http://perlman.mathcs.carleton.edu:5219">Home</a>
            <a href="http://perlman.mathcs.carleton.edu:5219/data">About Food Database</a>
        </div>
        <h3>Search Results</h3>
	<script type="text/javascript">
		function yesnoCheck() {
    		if (document.getElementById('yesCheck').checked) {
        		document.getElementById('ifYes').style.display = 'block';
    		}
    		else document.getElementById('ifYes').style.display = 'none';
		}
	</script>
        <form action="/results" method="POST">
	<fieldset>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="nutritionfacts" id="noCheck" required><strong> Nutrient Breakdown</strong>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="ingredients" id="noCheck"><strong> Ingredients</strong>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="allergy" id="yesCheck"><strong> Food Allergies?</strong>
	    <div id="ifYes" style="display:none">
	        Enter Allergen: <input style="font-size:25px;" type="text" id="yes" type="text" name="allergen" placeholder="e.g. nut or milk">
    	     </div>
		<input type="submit" value="Submit">
		<input type="reset" value="Start Over" onclick="javascript:yesnoCheck();">
		<br>
		</fieldset>
		<fieldset>
            {% for key, value in result.items() %}
		{% if 'No food containing' in value %}
			<legend>{{ value }}</legend>
		{% else %}
                <input type="radio" name="food" value="{{ key }}"> {{ key }} </input><br>
		{% endif %}
	     {% endfor %}
		</fieldset>
		</form>
        <a href="http://perlman.mathcs.carleton.edu:5219" class="button button2"> Try Another Food </a>
</body>

</html>
