<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrek: Search Results</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container"> 
  <!-- Navigation -->
  <header>
    <h4 class="logo"> <a href="http://perlman.mathcs.carleton.edu:5219"> <img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo"> </a> </h4>
    <nav>
      <ul>
        <li><a href="http://perlman.mathcs.carleton.edu:5219">HOME</a></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5219/data">ABOUT OUR DATABASE</a></li>
      </ul>
      <form class="search-boxY" action="/search" method="POST">
        <input type="search" name="foodsearch" placeholder="Search..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </nav>
  </header>
  <h2>What do you want to know about this food?</h2>
  <div class="Content">
    <div class="Wrapper"> 
      <script type="text/javascript">
		function yesnoCheck() {
    		if (document.getElementById('yesCheck').checked) {
        		document.getElementById('ifYes').style.display = 'block';
    		}
    		else document.getElementById('ifYes').style.display = 'none';
		}
	</script>
	<form action="/results" method="POST">
        <div class="LeftContent">
          <fieldset div class="fieldset1">
            <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="nutritionfacts" id="noCheck" required>
            <strong> Nutrient Breakdown</strong><br>
            <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="ingredients" id="noCheck">
            <strong> Ingredients</strong><br>
            <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="allergy" id="yesCheck">
            <strong> Food Allergies?</strong><br>
            <div id="ifYes" style="display:none"> Enter Allergen:
              <input style="font-size:25px;" type="text" id="yes" name="allergen" placeholder="e.g. nut or milk">
            </div>
            <input type="submit" value="Submit">
            <input type="reset" value="Start Over" onclick="javascript:yesnoCheck();">
            <br>
          </fieldset>
        </div>
        <div class="RightContent"> 
	<div class="scroll">
	  {% for key, value in result.items() %}
          {% if "food containing" in value %}
          {{ value }}<br>
          {% else %}
          <input type="radio" name="food" value="{{ value }}" required>
		{{ value }} <br>
          {% endif %}
          {% endfor %} 
	</div>
	</div>
      </form>
    </div>
  </div>
  
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019 <strong>Nutrek </strong> All rights reserved</div>
</div>
<!-- Main Container Ends -->
</body>
</html>
