<!DOCTYPE html>
<!doctype html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrek: Search Results</title>
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container"> 
  <!-- Navigation -->
  <header> 
    <h4 class="logo"> 
	    <a href="http://perlman.mathcs.carleton.edu:5219">
		<img width="100" height="100" src="/static/Nutrek.png" alt="img description: Nutrek Site Logo">
		</a>
	  </h4>
	       
    <nav>
      <ul>
        <li><a href="http://perlman.mathcs.carleton.edu:5219">HOME</a></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5219/data">ABOUT OUR DATABASE</a></li>
        <div class="search-boxY">
	<form action="/search" method="POST">
          <input class = "search-txt" type="text" name="foodsearch" value="" id="topnavsearch" placeholder="Search a food">
          <a class = "search-btn" type="submit"><img src="https://img.icons8.com/android/24/000000/search.png"> </a> </div>
	</form>
      </ul>
    </nav>
  </header>
  <!-- Search Section -->
  <section class="sect1" id="sect1">
    <h3>Search Results</h3>
	<script type="text/javascript">
		function yesnoCheck() {
    		if (document.getElementById('yesCheck').checked) {
        		document.getElementById('ifYes').style.display = 'block';
    		}
    		else document.getElementById('ifYes').style.display = 'none';
		}
	</script>
        <form action="/results" method="POST">
	<fieldset>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="nutritionfacts" id="noCheck" required><strong> Nutrient Breakdown</strong>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="ingredients" id="noCheck"><strong> Ingredients</strong>
	    <input type="radio" onclick="javascript:yesnoCheck();" name="query" value="allergy" id="yesCheck"><strong> Food Allergies?</strong>
	    <div id="ifYes" style="display:none">
	        Enter Allergen: <input style="font-size:25px;" type="text" id="yes" type="text" name="allergen" placeholder="e.g. nut or milk">
    	     </div>
		<input type="submit" value="Submit">
		<input type="reset" value="Start Over" onclick="javascript:yesnoCheck();">
		<br>
		</fieldset>
		<fieldset>
            {% for key, value in result.items() %}
		{% if "food containing" in value %}
			<legend>{{ value }}</legend>
		{% else %}
                <input type="radio" name="food" value="{{ value }}"> {{ value }} </input><br>
		{% endif %}
	     {% endfor %}
		</fieldset>
		</form>
  </section>
  
  
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019- <strong>Nutrek.</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
